data/*
out/*
*.ndjson
*.jsonl
*.jsonl.gz
report.json
.DS_Store

# keep placeholders
!data/.gitkeep
!out/.gitkeep

__pycache__/
*.py[cod]
*.egg-info/

# But do not ignore the sample-data directory inside it
!data/sample-data/

